In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [4]:
start = datetime.datetime(2006, 1,1)
end = datetime.datetime(2016,1,1)

<-- Get Financial Data from local file all_banks.pickle  -->

In [12]:
df = pd.read_pickle('all_banks')

In [13]:
df.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

**Create a list of the ticker symbols (as strings) in alphabetical order. Call this list: tickers**

In [14]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

Use pd.concat to concatenate the bank dataframes together to a single data frame called bank_stocks.
Set the keys argument equal to the tickers list. Also pay attention to what axis you concatenate on.**

In [62]:
frames = [df['BAC'],df['C'],df['GS'], df['JPM'],  df['MS'] , df['WFC'] ]
bank_stocks = pd.concat(frames , keys= tickers, axis=1)

In [63]:
bank_stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2006-01-03 to 2015-12-31
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (BAC, Open)    2517 non-null   float64
 1   (BAC, High)    2517 non-null   float64
 2   (BAC, Low)     2517 non-null   float64
 3   (BAC, Close)   2517 non-null   float64
 4   (BAC, Volume)  2517 non-null   int64
 5   (C, Open)      2517 non-null   float64
 6   (C, High)      2517 non-null   float64
 7   (C, Low)       2517 non-null   float64
 8   (C, Close)     2517 non-null   float64
 9   (C, Volume)    2517 non-null   int64
 10  (GS, Open)     2517 non-null   float64
 11  (GS, High)     2517 non-null   float64
 12  (GS, Low)      2517 non-null   float64
 13  (GS, Close)    2517 non-null   float64
 14  (GS, Volume)   2517 non-null   int64
 15  (JPM, Open)    2517 non-null   float64
 16  (JPM, High)    2517 non-null   float64
 17  (JPM, Low)     2517 non-null   float64
 18  (JPM, Close)   2517 non-null   float64
 19  (JPM, Volume)  2517 non-null   int64
 20  (MS, Open)     2517 non-null   float64
 21  (MS, High)     2517 non-null   float64
 22  (MS, Low)      2517 non-null   float64
 23  (MS, Close)    2517 non-null   float64
 24  (MS, Volume)   2517 non-null   int64
 25  (WFC, Open)    2517 non-null   float64
 26  (WFC, High)    2517 non-null   float64
 27  (WFC, Low)     2517 non-null   float64
 28  (WFC, Close)   2517 non-null   float64
 29  (WFC, Volume)  2517 non-null   int64
dtypes: float64(24), int64(6)
memory usage: 689.6 KB

In [60]:
bank_stocks.reset_index(inplace=True)

In [64]:
bank_stocks.head()

              BAC                                     C                       \
Stock Info   Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03  46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04  47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05  46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06  46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09  46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

                     ...     MS                                  WFC         \
Stock Info   Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                 ...
2006-01-03  1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04  1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05  1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06  1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09  1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82


Stock Info    Low  Close    Volume
Date
2006-01-03  31.20  31.90  11016400
2006-01-04  31.36  31.53  10871000
2006-01-05  31.31  31.50  10158000
2006-01-06  31.38  31.68   8403800
2006-01-09  31.56  31.68   5619600

[5 rows x 30 columns]

In [65]:
df.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

In [67]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [68]:
bank_stocks.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

EDAÂ¶

EDA
Let's explore the data a bit! Before continuing, I encourage you to check out the documentation on Multi-Level Indexing and Using .xs. Reference the solutions if you can not figure out how to use .xs(), since that will be a major part of this project.

** What is the max Close price for each bank's stock throughout the time period?**

In [71]:
bank_stocks['Close']

KeyError: 'Close'